<h1>Premier utilisateur</h1>

<p>Une courte description de notre premier utilisateur.</p>

<ul>
    <li>Nom: {{ nom }}</li>
    <li>Âge: {{ age }}</li>
    <li>Hobby:
        <ul>
            <li>Un: {{ hobby.hobbyUn }}</li>
            <li>Deux: {{ hobby.hobbyDeux }}</li>
            <li>Trois: {{ hobby.hobbyTrois }}</li>
        </ul>
    </li>
    <li>Email: {{ email }}</li>
</ul>

<button (click)="onClick()">plus d'informations</button>

<h1>Editer</h1>

<form>
  <div>
      <label for="nom">Nom: </label>
      <input type="text" [(ngModel)]="nom" name="nom">
  </div>
  <div>
      <label for="age">Age: </label>
      <input type="number" [(ngModel)]="age" name="age">
  </div>
  <div>
      <label for="hobbyun">HobbyUn: </label>
      <input type="text" [(ngModel)]="hobby.hobbyUn" name="HobbyUn">
  </div>
  <div>
      <label for="hobbydeux">HobbyDeux: </label>
      <input type="text" [(ngModel)]="hobby.hobbyDeux" name="HobbyDeux">
  </div>
  <div>
      <label for="hobbytrois">HobbyTrois: </label>
      <input type="text" [(ngModel)]="hobby.hobbyTrois" name="HobbyTrois">
  </div>
  <div>
      <label for="email">Email: </label>
      <input type="text" [(ngModel)]="email" name="email">
  </div>
</form>