<div class="panel panel-primary">
  <div class="panel-heading">Gallery component</div>
  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
      <div class="form-group">
        <label>Mot Clé:</label>
        <input type="text" name="motCle" ngModel required>
        <button type="submit" class="btn btn-primary">Chercher</button>
      </div>
    </form>

    <div *ngIf="pagePhotos">

    </div>
    <div *ngFor="let p of pagePhotos.hits"
        class="col-sm-3" >
      <div class="panel panel-primary cadre"></div>
      <div class="panel panel-primary">
      <div class="panel panel-heading">
          <img  class="image-circle"  src= "{{p.userImageURL}}" width ="50" height="50" >
      </div>
      <div class="panel-body">
        <img src="{{p.previewURL}}"/>
        
        <div>Nombre de vues={{p.views}}</div>
        <div>
          <p>User: {{p.user}} </p>
          <p>Tags: {{p.tags}} </p>
        </div>
      </div>
      </div>
      </div>
  </div>
</div>